<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Army Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/armies">Armies </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manufacturers">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guns">Guns</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 th:text="${army.getCountry()}"></h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-text">ID: <span th:text="${army.getId()}"></span></h5>
                <h5 class="card-text">Size: <span th:text="${army.getSize()}"></span></h5>
                <h5 class="card-text">Guns:</h5>

                <div class="container mt-5">
                    <form th:action="@{'/armies/' + ${army.getId()} + '/guns'}" method="post" class="form-inline">
                        <div class="form-group mr-2">
                            <label for="gunId" class="mr-2">Gun ID:</label>
                            <input type="number" id="gunId" name="gunId" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-success">Buy</button>
                    </form>
                </div>
                <p></p>

                <div class="container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="gun : ${army.getGuns()}">
                            <td th:text="${gun.getId()}"></td>
                            <td th:text="${gun.getName()}"></td>
                            <td>
                                <div style="display: inline-block; margin-right: 10px;">
                                <a th:href="'/guns/' + ${gun.getId()}" class="btn btn-primary btn-sm">Detail</a>
                                </div>

                                <form th:action="'/armies/' + ${army.getId()} + '/guns/' + ${gun.getId()} " th:method="delete" style="display: inline-block;">
                                    <button type="submit" class="btn btn-danger btn-sm">Sell</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
                    <a th:href="'/armies/' + ${army.getId()} + '/update'" class="btn btn-success">Update</a>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-GLhlTQ8iKUrKw1NabT9Lkz9AC5gM6H0oIlz1UdDF3qIi/6Uq6Psono1KTj5o9X8O" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>