<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gun Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/armies">Armies </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manufacturers">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/guns">Guns </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 th:text="${gun.getName()}"></h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-text">ID: <span th:text="${gun.getId()}"></span></h5>
                <h5 class="card-text">Generation: <span th:text="${gun.getGeneration()}"></span></h5>
                <h5 class="card-text">RPM: <span th:text="${gun.getRpm()}"></span></h5>
                <h5 class="card-text">Weight: <span th:text="${gun.getWeight()}"></span></h5>
                <p></p>
                <h5 class="card-text">Manufacturer: <span th:text="${manufacturer.getName()}"></span> </h5>
                <h5 class="card-text">Manufacturer ID: <span th:text="${manufacturer.getId()}"></span> <a th:href="'/manufacturers/' + ${manufacturer.getId()}" class="btn btn-primary btn-sm">Detail</a></h5>

                <div class="container mt-5">
                    <form th:action="@{'/guns/' + ${gun.getId()} + '/manufacturer-update'}" th:method="put" class="form-inline">
                        <div class="form-group mr-2">
                            <label for="manufacturerId" class="mr-2">Manufacturer ID:</label>
                            <input type="number" id="manufacturerId" name="manufacturerId" class="form-control" required>
                         </div>
                         <button type="submit" class="btn btn-success">Change</button>
                     </form>
                 </div>

                <p></p>

                 <div class="d-flex justify-content-between">
                     <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
                     <a th:href="'/guns/' + ${gun.getId()} + '/update'" class="btn btn-success">Update</a>
                 </div>
            </div>
        </div>
    </div>

         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-GLhlTQ8iKUrKw1NabT9Lkz9AC5gM6H0oIlz1UdDF3qIi/6Uq6Psono1KTj5o9X8O" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         </body>
         </html>