<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/armies">Armies </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/manufacturers">Manufacturers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guns">Guns</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">

    <h1 th:text="${manufacturer.getName()}"></h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-text">ID: <span th:text="${manufacturer.getId()}"></span></h5>
            <h5 class="card-text">Country: <span th:text="${manufacturer.getCountry()}"></span></h5>
            <h5 class="card-text">Size: <span th:text="${manufacturer.getSize()}"></span></h5>
            <h5 class="card-text">Guns:</h5>
            <div>
                <a th:href="'/guns/create'" class="btn btn-success">New gun</a>
            </div>
            <p></p>
            <div class="container">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="gun : ${manufacturer.getGuns()}">
                        <td th:text="${gun.getId()}"></td>
                        <td th:text="${gun.getName()}"></td>
                        <td>
                            <div style="display: inline-block; margin-right: 10px;">
                                <a th:href="'/guns/' + ${gun.getId()}" class="btn btn-primary btn-sm">Detail</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between">
                <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
                <a th:href="'/manufacturers/' + ${manufacturer.getId()} + '/update'" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-GLhlTQ8iKUrKw1NabT9Lkz9AC5gM6H0oIlz1UdDF3qIi/6Uq6Psono1KTj5o9X8O" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>